.checkout {
    text-align: center;
    padding-bottom: 5%;
    font-weight: lighter;
}

/* input[type=text] - will only select text fields
input[type=password] - will only select password fields
input[type=number] - will only select number fields */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #424dac;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #33296e;
}

.bill-total {
    margin-bottom: 30px;
    padding: 0.75rem;
    background-color: var(--color-article1-background);
    border-color: var(--color-border);
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.bill-total ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-bottom: 0;
    flex-direction: column;
    margin: 0px 35px;
}

.payement-way {
    width: 100%;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.payement-way li {
    margin-right: 15px;
}