#myFooter {
  background-color: #D9A404;
  color: #000;
  padding-top: 30px;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter li {
  text-align: left;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  border-left: 5px solid black;
  font-weight: 700;
  text-align: left;
  padding-left: 10px;
}

#myFooter a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#myFooter .social-networks a {
  font-size: 32px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}

.footer-text {
  display: inline;
}

