.fxb-col {
  -ms-flex: 1;
  flex: 1;
}

.fxb-basis-auto {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.fxb, .fxb-row {
  display: -ms-flexbox;
  display: flex;
}

.fxb-center-y {
  -ms-flex-align: center;
  align-items: center;
}

a:hover {
  color: #cd2122;
}

a:focus, a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
  color: initial;
  text-shadow: none;
}

embed, iframe, img, object {
  max-width: 100%;
}

img {
  height: auto;
}

.site-logo-img {
  max-width: 100%!important;
}

.sh--light .topnav-item:hover .glyphicon, .sh--light .topnav-no-sc .topnav-item:hover, .sh--light .topnav .menu-item > a:hover, .sh--light .topnav.sc--clean .topnav-item:hover {
  color: #fff;
  opacity: .9;
}

.sh--light .topnav-li .glyphicon, .sh--light .topnav-no-sc .topnav-item, .sh--light .topnav .menu-item > a, .sh--light .topnav.sc--clean .topnav-item {
  color: #fff;
}

.topnav-item:hover, .topnav-li:hover > .topnav-item, .topnav .menu-item > a:hover {
  opacity: 1;
}

.topnav-item, .topnav .menu-item > a {
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  line-height: 24px;
  display: block;
  padding: 0;
  opacity: .8;
}

.topnav {
  padding: 0;
  list-style: none;
  position: relative;
}

.topnav-li {
  padding-right: 10px;
  padding-left: 10px;
}

