.copyright{
    background-color: #403C02;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25%;
}

.copyright img{
    width: 30px;
    height: 15px;
    border-radius: 2px;
}