.body1{
    background-color: map-get($colors , light-blue );
    padding: 5%;
    
    //justify-content: center;
   
}

@media screen and (min-width: breakpoint-tablet){

    .carousel img{
        width: 1000px;
    }

}


//------------------------------------
// .carousel-slide{
//     min-width: 60%;
//     max-width: 60%;
// }

// .aside{
//     min-width: 40%;
//     max-width: 40%;
// }


//------------------------------------
// aside img{
//     width: 223px;
//     height: 125px;
//     object-fit: cover;
//     padding: 1% 5%;
//     // margin-left: auto;
//     // margin-right: auto;
